name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: bcs_insight_notes

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.x'
          channel: 'stable'
          cache: true

      - name: Install dependencies
        working-directory: bcs_insight_notes
        run: flutter pub get

      - name: Check formatting
        run: dart format --output=none .

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        working-directory: ..
        run: flutter test

      - name: Build APK
        run: flutter build apk --debug
